.appName {
  color: #798ff0;
  background: #ffffff;
  text-shadow: 2px 0 0px #004d80, 3px 2px 0px rgba(0, 31, 77, 0.5),
    6px 0 9px #4c2bc4, 8px 0 9px #071579, 9px 2px 9px rgba(7, 4, 39, 0.5),
    15px 0 45px #00ccff, 17px 0 45px #004280,
    17px 2px 45px rgba(20, 55, 107, 0.5);
  font-style: italic;
}
.searchButton {
  background: #798ff0;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  color: white;
}
@media screen and (min-width: 570px) {
  .searchButton {
    margin-top: 1rem !important;
  }
}
.thead {
  background-color: #6276ce;
  color: white;
  border-top-left-radius: 5px;
}
